<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://i.ibb.co/M8S0Zzj/live-streaming.png" itemprop="thumbnailUrl">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%s</title>
    <link rel="stylesheet" type='text/css' href="https://dx-mods.github.io/resources/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.12/plyr.css"/>

</head>

<body>
    <header>
        <div class="toogle"></div>
        <div id="file-name">
           <marquee direction = "left"> %s</marquee>
        </div>
    </header>

	<div id="banner">
    <div class="left-content">
        <span class="black-text">Online Streaming</span>
    </div>
</div>

    <div class="container">
        <tag src="%s" class="player"></tag>
    </div>

<div style="margin-bottom: 5px; margin-top: 5px"></div>
<div class="site-content">
    <!--
YOUR ADS
    -->
    <div class="playercontainerbox"> 
    </div>
    <div class="containerbox"> 
        <div style="margin-bottom: 5px; margin-top: 10px">Stream Options :</div>
        <div id="button-container1">
            <button id="vlc-btn" onclick="playOnline()">
                <img src="https://i.ibb.co/GtnGhBV/videolan-vlc-logo-icon-170258.png" alt="vlc_logo" width="110px" height="40px"/>
            </button>
            <button id="mx-btn" onclick="playOnlineMx()"><img src="https://i.ibb.co/djV3Fn8/mxlogo.png" alt="mx_logo" width="120px">
            </button>
        </div>
        <div style="margin-bottom: 5px; margin-top: 5px">
        <div id="button-container1">
            <button id="sp-btn" onclick="playOnlinesp()">
                <img src="https://i.ibb.co/vZxWgz5/ZKTgV9HV.png" alt="splayer_logo" width="130px">
            </button>
            <button id="pi-btn" onclick="playOnlinepi()"><img src="https://i.ibb.co/JsDNHgz/c0C4vnAa.png" alt="playit_logo" width="140px">
            </button>
        </div>
    
    
    <script src="https://cdn.plyr.io/3.6.12/plyr.js"></script>
	<script>
        const controls = [
              'play-large',
              'rewind',
              'play', 
              'fast-forward', 
              'progress', 
              'current-time',
              'duration',
              'mute',
              'volume',
              'captions',
              'settings',
              'pip',
              'airplay',
              'download',
              'fullscreen'
            ];
	</script>

	<script>
    const currentUrl = window.location.href;
    const finalUrl = currentUrl.replace("/watch/", "/");

    function playOnline() {
        const finalLinkUrl = finalUrl;
        const vlcUrl = `vlc://${finalLinkUrl}`;
        window.location.href = vlcUrl;
    }

    function playOnlineMx() {
        const finalLinkUrl = finalUrl;
        const mxUrl = `intent:${finalLinkUrl}#Intent;package=com.mxtech.videoplayer.ad;end`;
        window.location.href = mxUrl;
    }
    
    function playOnlinesp() {
        const finalLinkUrl = finalUrl;
        const spUrl = `intent:${finalLinkUrl}#Intent;action=com.young.simple.player.playback_online;package=com.young.simple.player;end`;
        window.location.href = spUrl;
    }
    
    function playOnlinepi() {
        const finalLinkUrl = finalUrl;
        const piUrl = `playit://playerv2/video?url=${finalLinkUrl}&amp;`;
        window.location.href = piUrl;
    }

    function openTgBot() {
        const createLinkUrl = "https://telegram.dog/";
        window.open(createLinkUrl, "_blank");
    }

    function openModalTG() {
        const modal = document.getElementById("myModal");
        modal.style.display = "block";

        const words = [
            "Received File request...✅",
            "Processing your request...⌛",
            "Generating your link...🔗",
            "Sending link to you...🚀",
            "Redirecting To Telegram...😉"
        ];

        let index = 0;
        const timerElement = document.getElementById("timer");
        timerElement.innerText = words[index];

        const timer = setInterval(() => {
            index++;
            if (index < words.length) {
                timerElement.innerText = words[index];
            } else {
                clearInterval(timer);
                TGre();
                modal.style.display = "none";
            }
        }, 1000);
    }

    function TGre() {
        const tglink = "";
        window.location.href = tglink;
    }

    function openModal() {
        const modal = document.getElementById("myModal");
        modal.style.display = "block";

        const words = [
            "Received Download request...✅",
            "Processing your request...⌛",
            "Generating your link...🔗",
            "Sending link to you...🚀",
            "Download has started...😉"
        ];

        let index = 0;
        const timerElement = document.getElementById("timer");
        timerElement.innerText = words[index];

        const timer = setInterval(() => {
            index++;
            if (index < words.length) {
                timerElement.innerText = words[index];
            } else {
                clearInterval(timer);
                download();
                modal.style.display = "none";
            }
        }, 1000);
    }

    function download() {
        const finalLinkUrl = finalUrl;
        window.location.href = finalLinkUrl;
    }
</script>
	<script>
        document.addEventListener('DOMContentLoaded', () => {
            const player = Plyr.setup('.player', { controls });
        });

        const body = document.querySelector('body');
        const footer = document.querySelector('footer');
        const toogle = document.querySelector('.toogle');
        toogle.onclick = () => {
            body.classList.toggle('dark')
            footer.classList.toggle('dark')
        }
    </script>
</body>
</html>
